@model IEnumerable<assignment2.Models.Games>

@{
    ViewData["Title"] = "Enter A New Score";
}

<h1>Enter A New Score</h1>

<form asp-action="Index" method="get">
    <p>
        Referee:
        <select asp-for="@Model.FirstOrDefault().RefereeId" asp-items="@ViewBag.PersonId"></select>
        <input type="submit" value="Filter" class="btn btn-primary" /> |
        <a asp-action="Index">All Games</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Field)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwayTeam.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTeam.TeamName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GameId">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
